
<p>
  <strong>Name:</strong>
  <%= @factory.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @factory.location %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_factory_path(@factory), :class => "button btn btn-warning"  %>
  <% end %>
<%= link_to 'Back', factories_path, :class => "button btn btn-warning"  %>
<%= link_to 'Home', root_path, :class => "button btn btn-warning"  %>
